# Python artifacts
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
*.env
masters/
model/models
notebooks/chroma
notebooks/data
notebooks/old_data

# Node artifacts
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db